body {
    margin: 0;
    padding: 0;
    background: url('../img/bg10.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.transparent {
    border-radius: 8px;
    border: 1px solid #fac2d0;
    margin-top: 20px;
    background-color: rgba(255, 223,233, 0.5);
}